/* ALLGEMEIN */
* {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    /*300, 400, 700*/
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.no-radius {
    border-radius: 0px !important;
}


/* NAVBAR */
#main-navbar {
    border-bottom: 1px solid #e5e5e5;
}

#main-navbar li {
    margin-left: 20px;
}

#main-navbar li p {
    line-height: 45px;
    margin: 0;
}

#main-navbar li img {
    border-radius: 50%;
}

#main-navbar li i {
    font-size: 25px;
    line-height: 45px;
    color: #212529;
}

#main-navbar li i:hover {
    color: #65717d;
}

#second-navbar {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px;
}

#second-navbar a {
    font-weight: 700;
}

#search-bar input {
    width: 400px;
    /*text-align: center;*/
    border-color: #6c757d;
}

#second-navbar h5 {
    line-height: 38px;
    margin: 0;
    color: #6c757d;
}

#second-navbar a.dropdown-item {
    font-weight: 400;
    color: #6c757d;
}

/* SHOPPING-CART */
#shopping-cart .borderless td,
.borderless th {
    border: none;
}

#shopping-cart table .ammount {
    margin: 0 5px;
}

#shopping-cart table p {}

#shopping-cart #sum {
    text-decoration: overline;
    font-weight: bold;
}

#shopping-cart #shopping-cart-options * {
    float: right;
}

#shopping-cart #shopping-cart-options input {
    width: 150px;
    margin: 5px 20px;
}

/* LOGIN */
#login-signup {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: 40px auto;
    text-align: center;
}

#login-signup img {
    margin: 20px 0;
}

#login-signup nav {
    margin: 20px 0;
}

#login-signup .nav-item {
    border-radius: 0px;
}

/* BENUTZER-KONTO */
#benutzer-konto .nav-item a {
    border-radius: 0px;
}

#benutzer-konto .tab-pane {
    background-color: white;
}

/* PRODUKTE & HOME */
.card .card-body h5 {
    color: #212529;
}

a:hover {
    text-decoration: none;
}

.card {
    margin-bottom: 20px;
}

.zoom {
    overflow: hidden;
}
.zoom img {
    transition: transform .5s ease;
    width:100%;
    height:200px;
    object-fit: cover;
}

.card:hover .zoom img {
	transform: scale(1.06);
}

#products #price-limit span {
    margin-top: 7px;
}

#home #carousel {
    margin-top: -30px;
}

#home #carousel mark {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

#home #carousel img {
    height:300px;
    object-fit: cover;
}

#home #products-btn {
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

#home #categories {
    margin-top: 20px;
}

#home #categories .categorie-item {
    text-align: center;
}

#home #categories i {
    font-size: 50px;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #6c757d;
    color: #ffffff;
}

#home #categories i:hover {
    background-color: #212529;
}

#home #categories h4 {
    color: #6c757d;
}

/* DETAILS */
#details #image-slider-preview img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#details #image-slider-preview img:hover {
    border: 1px solid rgb(39, 34, 34);
}

#details #image-slider-img img {
    width: 100%;
    height: auto;
}

#details #details-info h1 {
    margin: 20px 0 30px 0;
}

#details #details-info h5, #details #details-info p {
    color: #6c757d;
}

#details #details-info p {
    margin-bottom: 40px;
}

#details #add-to-cart {
    margin-left: 10px;
}

#details span {
    margin: 0 10px;
}